body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: sienna;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
} 
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 18px 15px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: sienna}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

@font-face {
  font-family: "Genshin Impact DRIP FONT";
    src: url('Genshin Impact DRIP FONT.ttf');
}
.navbar-brandname{
  font-family: Genshin Impact DRIP FONT;
  display: block;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 18px 25px;
  text-decoration: none;
}

body {
    background-image: url('https://i.imgur.com/zuzv2dM.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
    overflow-x: hidden;
}

.info h1{
    position: absolute;
    top: 15%;
    left: 53%;
    transform: translate(-60%, -40%);
    text-align: center;
    color: white;
    font-size: 40px;         
    padding: 10px;
    border-radius: 10px;
}

.video{
    position: relative;
    top: 180px;
    left: 230px;
    column-gap: 40px;
    display: inline-flex;
  }
.tktk h2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-60%, -40%);
    text-align: center;
    color: white;
    font-size: 40px;         
    padding: 0;
    border-radius: 10px;
}
.tiktok{
  position: relative;
  top: 300px;
  left: 320px;
  column-gap: 50px;
  display: inline-flex;
}
.music h3{
  position: absolute;
  top: 165%;
  left: 50%;
  transform: translate(-60%, -40%);
  text-align: center;
  color: white;
  font-size: 40px;         
  padding: 0;
  border-radius: 10px;
}
.song{
  position: relative;
  top: 400px;
  left: 320px;
  column-gap: 50px;
  display: inline-flex;
}
.landdl h4{
  position: absolute;
  top: 185%;
  left: 50%;
  transform: translate(-60%, -40%);
  text-align: center;
  color: white;
  font-size: 40px;         
  padding: 0;
  border-radius: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  position: relative; 
  top: 480px; 
  left: 320px;  
  width: 650px;
  height: 400px;
  padding: 10px;
  background-color: rgba(128, 0, 128, 0.589);
}
.left-col {
  width: 49%;
  text-align: left;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Bookman Old Style';
  font-weight: bold;
  position: relative; 
  top: 10px; 
  left: 20px;  
}
.right-col {
  width: 49%;
  text-align: center left;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Bookman Old Style';
  font-weight: bold;
  position: relative; 
  top: 10px; 
  left: 20px;  
}
.cmt h5{
    position: absolute;
    top: 100%;
    left: 10%;
    transform: translate(-60%, -40%);
    text-align: left;
    color: cyan;
    font-size: 30px;         
}
.comment{
    position: absolute;
    width:100%;
    height: 200px;
    top: 140%;
    left: 60%;
    transform: translate(-60%, -40%);
}

